Exercise: Build decision tree model to predict survival based on certain parameters

In this file using following columns build a model to predict if person would survive or not,

    Pclass
    Sex
    Age
    Fare

Calculate score of your model

# Import libraries and Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 200)

In [2]:
df = pd.read_csv('/kaggle/input/decision-tree-classification-exercise-titanic/titanic.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [5]:
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [6]:
inputs = df.drop('Survived',axis='columns')
target = df['Survived']

In [7]:
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [8]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le_Sex = LabelEncoder()

In [11]:
inputs['Sex_n'] = le_Sex.fit_transform(inputs['Sex'])

In [12]:
inputs

     Pclass     Sex   Age     Fare  Sex_n
0         3    male  22.0   7.2500      1
1         1  female  38.0  71.2833      0
2         3  female  26.0   7.9250      0
3         1  female  35.0  53.1000      0
4         3    male  35.0   8.0500      1
..      ...     ...   ...      ...    ...
886       2    male  27.0  13.0000      1
887       1  female  19.0  30.0000      0
888       3  female   NaN  23.4500      0
889       1    male  26.0  30.0000      1
890       3    male  32.0   7.7500      1

[891 rows x 5 columns]

In [13]:
inputs.drop('Sex', axis='columns', inplace=True)

In [14]:
inputs['Age'].isna().any()

True

In [15]:
inputs['Age'] = inputs['Age'].fillna(inputs['Age'].mean())

In [16]:
inputs['Age'].isna().any()

False

In [17]:
inputs

     Pclass        Age     Fare  Sex_n
0         3  22.000000   7.2500      1
1         1  38.000000  71.2833      0
2         3  26.000000   7.9250      0
3         1  35.000000  53.1000      0
4         3  35.000000   8.0500      1
..      ...        ...      ...    ...
886       2  27.000000  13.0000      1
887       1  19.000000  30.0000      0
888       3  29.699118  23.4500      0
889       1  26.000000  30.0000      1
890       3  32.000000   7.7500      1

[891 rows x 4 columns]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [20]:
len(X_train)

712

In [21]:
len(X_test)

179

In [22]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [23]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [24]:
model.score(X_test, y_test)

0.7486033519553073